* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    background-color: #f8f9fa;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 25px;
}

h2 {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#SignUp-form {
    width: 100%;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
}

.password-container {
    width: 100%;
    margin: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
}

input#password {
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    padding-right: 40px; /* Prevent text from overlapping the icon *//
}

.eye-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    padding: 10px;
    margin-top: 8px;
}

.terms {
    font-size: 13px;
    color: #666;
    margin: 11.5px 0;
}

.terms a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media only screen and (min-width: 768px) { 
    body {
    margin-left: 50px;
    margin-right: 50px;
    }
} 
