* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
    background-color: #f8f9fa;
    line-height: 1.5rem;
    padding-bottom: 90px;
}

.header {
    padding: 2rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    left: 0;
    right: 0; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.logo a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.75rem;
}

.logo img {
    height: 1.5rem;
}

.notifications img {
    height: 1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    flex: 1;
}

#course-page {
    margin-top: 6rem;
}

h1 .page-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.button-header {
    text-align: center;
}

h2  {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 35px;
}

/* List styles */
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
}

.courses-button {
    font-size: 14px;
    padding: 12px 20px;
    background: #ebebeb;
    border-radius: 15px;
    border: none;
    cursor: pointer; 
}

.courses-button a {
    text-decoration: none;
    color: black;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 0.8rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
}

.navigation a img {
    height: 1.75rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .logo a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .logo img {
        height: 1.2rem;
    }

    .navigation {
        padding: 0.5rem 0.5rem 0rem 0.5rem;
    }

    .navigation a img {
        height: 1.25rem;
    }
}